.animate-slide {
    animation: slide 2s ease-in-out;
  }
.animate-slide-i {
    animation: slide-i 2s ease-in-out;
  }

  @keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
  }

  @keyframes slide-i {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
  }

  #search-container::-webkit-scrollbar {
    height: 8px; /* Ancho del scroll */
  }
#search-container::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* Color del scroll */
    border-radius: 5px; /* Radio de las esquinas del scroll */
  }

#search-container::-webkit-scrollbar-thumb:hover {
    background-color: #403ac0; /* Color del scroll al pasar el mouse */
  }
