@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .Quote{
        font-size: 2rem;
    }
}

#Home{
    background-image: url(../../public/assets/bg-home.jpg);
    background-size: cover;
    background-position:bottom;
    background-color: rgba(20, 14, 125, 0.235);
    background-blend-mode: soft-light;
}

body{
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    body{
        background-color: #090a18;
    }
}

#Logo{
    width: 80px;
}

#floriture {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
}
  
  #floriture::before,
  #floriture::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    height: 1px;
    background-color: #ccc;
  }
  
  #floriture::before {
    left: 20%;
  }
  
  #floriture::after {
    right: 20%;
  }
  

input:focus-visible {
    outline: none;
    text-shadow: none;
}