@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .Quote{
        font-size: 2rem;
    }
}

#Home{
    background-image: url(../../public/assets/bg-home.jpg);
    background-size: cover;
    background-position:bottom;
    background-color: rgba(20, 14, 125, 0.235);
    background-blend-mode: soft-light;
}

body{
    overflow-x: hidden;
}

#Logo{
    width: 80px;
}